@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Pacifico&family=Play:wght@700&family=Poppins:wght@500&family=Roboto+Condensed:ital@0;1&family=Secular+One&display=swap');

#root {
  font-family: Pacifico, sans-serif;
  font-weight: bold;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f3bc77;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
